.pulse-matrix {
  grid-area: timeline;
  position: relative;
}

.measure {
  background-color: blue;
  width: 100%;
  height: 50%;
  position: absolute;
}

.pulse {
  background-color: red;
  width: calc(100% / 7);
  height: 25%;
  position: absolute;
}
