body,
html,
#root {
  height: 100vh;
}

.App {
  display: grid;
  grid-template-areas:
    "toolbar" "toolbar" "toolbar"
    "timeline" "timeline" "timeline"
    "timeline" "timeline" "timeline"
    "timeline" "timeline" "timeline"
    "pad" "pad" "pad";
  text-align: center;
  height: 100%;
}
